fastapi>=0.110
uvicorn[standard]>=0.27
python-multipart
websockets

# VAD dependencies
silero-vad

# STT dependencies
faster-whisper>=1.0.0
ctranslate2>=4.2

numpy
soundfile

torch

# TTS dependencies
melotts @ git+https://github.com/andimarafioti/MeloTTS.git
git+https://github.com/kyutai-labs/pocket-tts.git

